@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SFProDisplay-Medium.eot');
  src: url('./fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('./fonts/SFProDisplay-Medium.woff') format('woff'),
    url('./fonts/SFProDisplay-Medium.ttf') format('truetype'),
    url('./fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}