<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="./style.css">
    <title>LETTER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./media.css">
</head>

<body>
    <div id="app" class="app">
        <div class="pass">
            <div class="input__pass" v-if="!intervalFinished && !isCorrect">
                <input type="text" v-on:keyup.enter="submit" v-model="password" label="few" placeholder="дата рождения">
                <button class="send" @click="submit">Отправить</button>
            </div>
        </div>
        <div class="video" v-if="intervalFinished">
            <video autoplay="1" style="width:390px" height="100%" controls>
                <source src="./img/IMG_3713.MOV" type="video/mp4">
                <source src="./img/IMG_3713.MOV" type="video/ogg">
            </video>
        </div>
        <div v-if="isCorrect">
            <div class="content">
                <div style="display:block">
                <img class="title__img" src="./img/bg3.png" alt="">
                <div class="cont__rep">
                    <!-- <p>С ТВОИМ ДНЕМ</p> -->
                    
                    <div class="img__cont">
                        <img src="./img/img.JPG" alt="">
                    </div>
                    <p class="title_text">Дорогая <span> Mufassal</span></p>
                    <h2 class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vitae, ut odit
                        quia hic voluptates delectus ipsa. Iure, ratione. Maiores exercitationem reiciendis odit enim
                        alias sapiente in praesentium fugiat quibusdam perferendis
                        cumque officiis iste aspernatur quia molestiae est deserunt excepturi, dolores temporibus earum
                        delectus quasi. Cum voluptas rerum aliquid harum.</h2>
                    <div class="loader">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                password: '',
                isCorrect: false,
                passwordValue: '06.05.2005',
                intervalFinished: false,
            },
            methods: {
                submit() {

                    if (this.password == this.passwordValue) {
                        this.intervalFinished = true;

                        setTimeout(() => {
                            this.intervalFinished = false;
                            this.isCorrect = true
                        }, 6000);
                    }
                }
            },
            mounted() {

            },
        })
    </script>
    <style>
        .visible {
            display: block;
        }

        .invisible {
            display: none;
        }
    </style>
</body>

</html>