<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Happy birthday</title>
    <link rel="stylesheet" href="./media.css">
    <link rel="stylesheet" href="./font.css"> <!-- iphone fonts -->
</head>

<body>
    <div id="app" class="app">
        <div class="pass">
            <div class="input__pass" v-if=" !isCorrect">
                <div class="add"><input required="" v-on:keyup.enter="submit" v-model="password" type="text" name="text"
                        autocomplete="off" class="input">
                    <label class="user-label">Name</label>
                    <button class="send" @click="submit">Отправить</button>
                </div>
            </div>

            <div v-if="isCorrect">
                <div class="content">

                    <img class="title__img" src="./img/bg3.png" alt="">
                    <div class="cont__rep">

                        <div class="img__cont">
                            <img src="./img/special.jpg" alt="">
                        </div>
                        <p class="title_text">Дорогая NAME</p>
                        <h2 class="text">Поздравляю тебя с днём рождения. 
                            <br><br>

                            С любовью,
                            Name
                        </h2>
                        <div class="parent">
                            <img class="just__bg" src="img/puzle.jpg" alt="">
                            <img class="just__img" src="img/image2.jpg" alt="">
                            <img class="just__img" src="img/image3.jpg" alt="">
                            <img class="just__img" src="img/image4.jpg" alt="">
                        </div>
                        <div class="video" v-if="isCorrect">
                        </div>
                        <div class="down">
                            <ul>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h2 class="down__h2">ТЫ</h2>
                                    <!-- <p class="down__p">Скучно</p> -->
                                    <img class="down__img" src="img/you.gif" alt="">
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h2 class="down__h2">Я</h2>
                                    <!-- <p class="down__p">Красочно</p> -->
                                    <img class="down__img" src="img/me.gif" alt="">
                                </li>
                                <li>
                                    <input type="checkbox" checked>
                                    <i></i>
                                    <h2 class="down__h2">МЫ</h2>
                                    <!-- <p class="down__p">Фантастика</p> -->
                                    <img class="down__img" src="img/we.gif" alt="">
                                </li>
                            </ul>

                            <div class="back__link"><a class="none" href="invite.html"><button class="next">ПЕРЕЙТИ
                                        ДАЛЕЕ</button></a></div>
                        </div>
                   
                    </div>
                </div>
            </div>
            <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        password: '',
                        isCorrect: false,
                        intervalFinished: false,
                    },
                    methods: {
                        submit() {
                            if (this.password == 'addPass' || this.password == '1') {
                                this.isCorrect = true
                                console.log('correct');
                            }
                        }
                    },

                })
            </script>
</body>

</html>
