<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="./style.css">
    <title>LETTER</title>
    <link rel="stylesheet" href="./media.css">
     <link rel="stylesheet" href="./font.css">  <!-- iphone fonts -->
</head>

<body>
    <div id="app" class="app">
        <div class="pass">
            <div class="input__pass" v-if=" !isCorrect">
                <input  type="text" v-on:keyup.enter="submit" v-model="password" label="few" placeholder="Имя именинницы">
                <button class="send" @click="submit">Отправить</button>
            </div>
        </div>
        
        <div v-if="isCorrect">
            <div class="content">
                <div style="display:block">
                    <img class="title__img" src="./img/bg3.png" alt="">
                    <div class="cont__rep">
                        <div class="img__cont">
                            <img src="./img/special.jpg" alt="">
                        </div>
                        <p class="title_text">Дорогая Муфассал</p>
                        <h2 class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem vitae, ut
                            odit
                            quia hic voluptates delectus ipsa. Iure, ratione. Maiores exercitationem reiciendis odit
                            enim
                            alias sapiente in praesentium fugiat quibusdam perferendis
                            cumque officiis iste aspernatur quia molestiae est deserunt excepturi, dolores temporibus
                            earum
                            delectus quasi. Cum voluptas rerum aliquid harum.</h2>
                            <div class="video" v-if="isCorrect">
                                <video controls>
                                    <source src="./img/IMG_3713.MOV" type="video/mp4">
                                    <source src="./img/IMG_3713.MOV" type="video/ogg">
                                </video>
                            </div>
                        <a href="sms:+998935353200;?&body=хорошо">
                            <div class="loader">
                                <div></div>
                            </div>
                        </a>
                    </div>
                    <!-- <audio controls autoplay muted>
                    <source src="./img/music.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio> -->
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                password: '',
                isCorrect: false,
                intervalFinished: false,
            },
            methods: {
                submit() {

                    if (this.password == 'Mufassal' || 'mufassal' || 'муфассал' || 'Муфассал') {
                        this.isCorrect = true

                       console.log('corect');
                    }
                }
            },
            mounted() {

            },
        })
    </script>
    <style>
        .visible {
            display: block;
        }

        .invisible {
            display: none;
        }
    </style>
</body>

</html>