* {
  margin: 0 auto;
}

body {
  background-color: #FFAEBC;
  min-height: 100vh;
  font-family: 'SF Pro Display', serif;
  color: white;
}

.invite {
  display: flex;
  flex-direction: column;
}

.invite,
.karting {
  width: 338px;
  height: 423px;
  border-radius: 38px;
  background: #FFAEBC;
  margin-top: 15px;
}

.inviter {
  display: flex;
  flex-direction: column;
  width: 338px;
  border-radius: 38px;
  background: #FFAEBC;
  margin-top: 15px;
}

.invite__p {
  margin-top: 5px;
  font-size: 25px;
  text-align: center;
}

.agree {
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-top: 5px;
  margin-left: 9px;
  margin-right: 9px;
  text-align: center;
}

.question {
  font-weight: 400;
  font-size: 30px;
}

/* button */
button {

  display: block;
}

.button__space {

  margin-top: 85px;
  width: 338px;
  height: 423px;
  position: relative;
}

.button__space {
  display: block;
  position: relative;
}

.bg {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background: url(img/space.png);
  width: 300px;
  height: 250px;
}

.back__link {
  display: flex;
  flex-direction: column;
}

.back {
  margin-top: 15px;
  margin-bottom: 50px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.back::before {
  text-decoration: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #FFAEBC;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.none {
  text-decoration: none;
}

.back:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.back:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #FFAEBC;
  transform: translate3d(0, 0.5em, -1em);
}

.back:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

.back:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.yes {
  border-radius: 15px;
  height: 2rem;
  width: 4rem;
  transition: all .5s ease-out;
  font-family: 'SF Pro Display', serif;
  left: 60px;
  z-index: 1;
  position: absolute;
}

.no {
  border-radius: 15px;
  height: 2rem;
  width: 4rem;
  font-family: 'SF Pro Display', serif;
  margin-left: 190px;
}

.mp3 {
  display: none;
}




/* loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.loader div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: red;
  animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader div:after,
.loader div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: red;
}

.loader div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.loader div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes loader45 {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}