@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    margin: 0 auto;
}

/* body */
body {  
    background-color: #FFAEBC;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* input style */
.send {
    cursor: pointer;
    height: 30px;
    color: white;
    background: #FFAEBC;
    transition: .5s ease;
    border-radius: 10px ;
}

.send:hover {
    background: transparent;
    border: 2px solid #FFAEBC;
    box-shadow: 0 0 10px 0 #FFAEBC inset;
    border-radius: 10px;
}

input {
    background-color: aliceblue;
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    border-color: #FFAEBC;
    border-radius: 15px;
    border-width: 5px;
}

.pass {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*  */
.cont__rep {
    display: flex;
    flex-direction: column;
}

.img__cont {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;

}

p {
    margin: 20px auto;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

span {
    font-family: 'Oswald', sans-serif;
}

img {
    width: 368px;
    height: 423px;
    border-radius: 38px;
    background: #FFAEBC;
    box-shadow: -13px 13px 38px #FFAEBC,
        13px -13px 38px #FFAEBC;

}

h2 {
    margin: 15px;
    color: white;
    width: fit-content;
    text-align: center;
    font-weight: 400;
}

/* loader */
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.loader div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: red;
    animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader div:after,
.loader div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: red;
}

.loader div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.loader div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes loader45 {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

/* button */

.title__img {
    width: 60%;
    height: 330px;
    margin-bottom: 15px;
}
.title_text{
    font-family: 'Oswald', sans-serif;
}
audio{
    display: none;
}
