* {
    margin: 0 auto;
}

body {
    display: grid;
}

.pass {
    display: flex;


}

input {
    width: 140px;
    height: 30px;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    background-color: pink;
    border: solid;
    border-color:rgb(244, 184, 194) ;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 700;
}